<!-- accounts/templates/accounts/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<main>
    <div>
        <h1>Login</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <label for="{{ form.username.id_for_label }}">Username:</label>
            {{ form.username }}
            <br>
            <label for="{{ form.password.id_for_label }}">Password:</label>
            {{ form.password }}
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</main>

</body>
</html>
